#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  display: flex;
  padding: 2em;
  margin: 1em;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  margin-left: 2em;
  font-size: 1em;
  border-color: black;
}
