* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    background-color: white;
    color: black;

    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: lightblue;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    min-height: 100vh;
}

.main {
    flex: 1;
}

.main__text {
    justify-content: space-around;
    padding: 1rem;
    text-align: center;
}

.main__required-text {
    font-size: 0.8rem;
    text-align: right;
}

input {
    padding: 0;

    font: inherit;
}

.register {
    display: grid;
    
    max-width: 25rem;
    border: 1px solid black;
    border-radius: 16px;
    padding: 1rem;
    margin: 0 auto;
}

.register__label {
    display: grid;

    margin-bottom: 16px;
    align-items: center;
}

.register__error {
    background-color: lightcoral;
    color: red;
    font-size: 0.8rem;
    padding: 0.5rem;
}

.register__error:empty {
    display: none;
}

.required {
    color: red;
}

.register__name, .register__email, .register__confirm {
    margin-bottom: 16px;
    
}

.register__name.focused, .register__email.focused, .register__confirm.focused {
    border: 2px solid;
    font-weight: bold; 
    background-color: lightgreen;
}

.register__label {
    margin-top: 16px;
}

.register__wants-spam {
    border: none;
    margin: 0;
    padding: 0;
}

.register__label {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}

.register__wants-spam {
    display: flex;
    justify-content: left;
}

button {
    display: block;
    background-color: lightblue;
    margin: 16px auto;
    width: 25%;
    &:hover {
        background-color: lightgreen;
    }
}

.footer {
    margin-top: auto;
    background-color: lightblue;
}

.footer__text {
    text-align: center;
    padding: 1rem;
}

@media (min-width: 40rem) {
    .register {
        display: grid;
        grid-template-columns: auto auto;
        gap: 16px;
    }
    
    .register__label {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-column: span 2;
    }
    
    .register__name-label, .register__email-label, .register__confirm-label{
        grid-column: 1;
        justify-self: right;
        padding-right: 16px;
    }

    .register__name, .register__email, .register__confirm{
        grid-column: 2;
        margin-bottom: auto;
    }

    .register__spam{
        grid-column: span 2;
    }

    .register__error--form{
        grid-column: span 2;
        justify-content: center;
    }

    button {
        grid-column: span 2;
    }
}
